$black: #A100FF;
$lvl1: rgba($black, 0.1);
$lvl2: rgba($black, 0.2);
$lvl5: rgba($black, 0.5);
$lvl3: rgba($black, 0.03);
$white: #FFFFFF;

$green: #06E097;
$red: #ff005a;
$blue: #00AAFF;

$font-family: 'Archivo', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$radius: 10px;

$phone: 40rem;