$black: #383f4d;
$white: #FFFFFF;
$green: #41e765;
$red: #FF3633;
$blue: #3274ff;
$purple: #A100FF;

$lvl1: rgba($blue, 0.1);
$lvl2: rgba($blue, 0.2);
$lvl5: rgba($blue, 0.5);
$lvl3: rgba($blue, 0.03);

$font-family: 'Archivo', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$radius: 10px;

$phone: 40rem;