@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Archivo:400,600');

@import "../fonts/**/*.css";

@import "./vamp/*.scss";
@import "./vendor/*.scss";
@import "./elements/*.scss";
@import "./pages/*.scss";

* {
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
}
html {
  text-size-adjust: none;
}
body {
  font-family: $font-family;
  color: $blue;
  background-color: $blue;
}
.freeze {
  overflow: hidden;
}
[v-cloak] {
  display: none;
}
::-webkit-input-placeholder {
  color: $lvl5;
}
::-moz-placeholder {
  color: $lvl5;
}
:-ms-input-placeholder {
  color: $lvl5;
}
:-moz-placeholder {
  color: $lvl5;
}

button, input, textarea, select {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 1rem;
  font-family: $font-family;
  color: $blue;
  outline: none;
  border: none;
  background: none;
}
button, input, textarea {
  padding: 0;
  margin: 0;
}
button, input[type="text"], textarea {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}
button {
  cursor: pointer;
}